@page "/create-todo"
@inject HttpClient HttpClient

<h3>Create a todo</h3>

<div class="mb-3">
    <EditForm Model="@todo" OnValidSubmit="@CreateAsync">
        @if (created)
        {
            <div class="alert alert-success" role="alert">
                Todo created successfully!
            </div>
        }
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <InputText class="form-control" id="name" @bind-Value="@todo.Name" />
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Priority</label>
            <InputNumber class="form-control" id="priority" @bind-Value="@todo.Priority" />
        </div>
        <button class="btn btn-primary mb-3" type="submit">Submit</button>
    </EditForm>
    <div class="todos">
        @if (!todos.Any())
        {
            <h3>
                Loading todos...
            </h3>
        }
        else
        {
            var veryUrgent = todos
                .Where(t => t.Priority >= 8);
            var urgent = todos
                .Where(t => t.Priority < 8)
                .Where(t => t.Priority >= 5);
            var soon = todos
                .Where(t => t.Priority < 5)
                .Where(t => t.Priority >= 2);
            var sometime = todos
                .Where(t => t.Priority < 2)
                .Where(t => t.Priority != 0);
            var unspecified = todos
                .Where(t => t.Priority == 0);

            @foreach (var currentTodo in todos.Where(t => t is not null))
            {<div class="todo">
                    <ShowTodo Todo="@currentTodo" />
                </div>
            }
            @*
                @foreach (var currentTodo in urgent)
                {
                    <div class="todo">
                        <ShowTodo Todo="@currentTodo" />
                    </div>
                }
                @foreach (var currentTodo in soon)
                {
                    <div class="todo">
                        <ShowTodo Todo="@currentTodo" />
                    </div>
                }
                @foreach (var currentTodo in sometime)
                {
                    <div class="todo">
                        <ShowTodo Todo="@currentTodo" />
                    </div>
                }
                @foreach (var currentTodo in unspecified)
                {
                    <div class="todo">
                        <ShowTodo Todo="@currentTodo" />
                    </div>
                }*@

        }
    </div>
</div>

@code {
    private int loadLimit = 10, loadOffset = 0;

    private List<Todo> todos = new List<Todo>();

    private Todo todo = new Todo();
    private bool created = false;
    protected override async Task OnInitializedAsync()
    {
        while (await LoadMoreTodosAsync()) ;
    }

    public async Task CreateAsync()
    {
        var response = await HttpClient.PostAsJsonAsync("api/todos", todo);
        response.EnsureSuccessStatusCode();
        created = true;
        todos.Add(todo);
        todos.Sort((x, y) => y.Priority.CompareTo(x.Priority));
        todo = new Todo();
        StateHasChanged();
    }

    private async Task<bool> LoadMoreTodosAsync()
    {
        var newTodos = await LoadMoreTodosAsync(loadLimit, loadOffset);
        todos.AddRange(newTodos);

        StateHasChanged();
        loadOffset += loadLimit;
        return newTodos.Count == loadLimit;
    }

    private async Task<List<Todo>> LoadMoreTodosAsync(int limit, int offset)
    {
        var url = $"api/Todos?limit={limit}&offset={offset}&listAll=true";
        var loadedTodos = await HttpClient.GetFromJsonAsync<List<Todo>>(url);
        return loadedTodos;
    }
}