@page "/get-todo"
@inject HttpClient HttpClient
<h3>Get a todo</h3>

<div class="mb-3">
    <EditForm Model="@todo" OnValidSubmit="@GetAsync">
        @if (created)
        {
            <div class="alert alert-success" role="alert">
                Name: @todo.Name
                Priority: @todo.Priority
            </div>
        }
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="Id" class="form-label">id</label>
            <InputText class="form-control" id="Id" @bind-Value="@todo.Id" />
        </div>
        <button class="btn btn-primary mb-3" type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private Todo todo = new Todo();
    private bool created = false;
    public async Task GetAsync()
    {
        var url = "api/todos/" + todo.Id;
        todo = await HttpClient.GetFromJsonAsync<Todo>(url);
        created = true;
        StateHasChanged();
    }
}